@import "theme-editor.css";
/*.login-view {*/
/*    background-image: url("images/earth.jpg");*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    display: flex;*/
/*    height: 100%;*/
/*}*/
.authentication-background{
    background-image: url("images/earth.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
}
.login-view vaadin-login-form {
    align-items: center;
    display: flex;
    max-width: 300px;
}
.login-view vaadin-login-form-wrapper {
    background-image: none;
}
